.game-over {
  font-size: var(--size-4xl);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  letter-spacing: 0.2rem;
  padding: 5em;
  text-shadow: 1px 1px 1px var(--clr-light), -1px 1px 1px var(--clr-light),
    -1px -1px 0 var(--clr-light), 1px -1px 0 var(--clr-light);
}

.game-over__scores span {
  color: var(--clr-red);
}

.play-again {
  color: var(--clr-blue);
}
