.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.keys__element {
    font-size: var(--size-xl);
    font-weight: 600;
    padding: .5em;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 0 white,
        1px -1px 0 white;
    border: 1px solid var(--clr-red);
    border-radius: 10px;
    margin: .5em;
    width: 30px;
    text-align: center;
    transition: all .3s ease-in-out;
}

.keys__element:hover {
    background: var(--clr-red);
    color: var(--clr-blue);
}