.container__ranking {
    border: 3px solid var(--clr-blue);
    border-radius: 25px;
    padding: 1.25em;
    min-width: 30em;
    /* width: 100%; */
    max-height: 15em;
}

.ranking__header {
    font-size: var(--size-2xl);
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
    border-bottom: 3px solid var(--clr-blue);
    padding-bottom: .5em;
}

.ranking-list {
    list-style: none;
    overflow-y: auto;
    padding: 1em;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 0 white,
        1px -1px 0 white;
    font-size: var(--size-xl);
    display: flex;
    flex-direction: column;
}

.ranking__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .5em;
    letter-spacing: .1em;
}

.ranking__username {
    color: var(--clr-red);
}

.ranking__score {
    color: var(--clr-blue);
}

/* sm */
@media (max-width: 475px) {
    .container__ranking {
        min-width: 15em;
    }
}