.container__store {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2em;
  font-size: var(--size-3xl);
  letter-spacing: 0.2em;
  font-weight: 800;
  text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 0 white,
    1px -1px 0 white;
}
