body {
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 0;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid var(--clr-light);
}

.nav__logo {
  padding: 1.25em;
  cursor: pointer;
}

.nav__logo img {
  width: 5em;
}

.nav__ui {
  display: flex;
  align-items: center;
}

.ui__list {
  list-style: none;
  display: flex;
  gap: 1em;
  font-size: var(--size-xl);
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 1.25em;
}

.ui__element span {
  color: var(--clr-red);
}

.ui__element img {
  width: 50px;
  height: auto;
}

.ui__element .coins {
  display: block;
}

.ui__boost {
  display: flex;
}
