:root {
  /* colors */
  --clr-background: #1f1d1d;
  --clr-light: #efefef;
  --clr-gray: #cac2c2;
  --clr-dark: #262626;
  --clr-blue: #0f56da;
  --clr-red: #f21010;

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Signika Negative, sans-serif;
  overflow: hidden;
  background: var(--clr-background);
  color: var(--clr-light);
  height: 100%;
  background: rgb(15, 133, 224);
  background: linear-gradient(
    180deg,
    rgba(15, 133, 224, 1) 0%,
    rgba(242, 16, 16, 1) 100%
  );
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

img {
  display: flex;
  position: relative;
  padding: 10px;
  width: 20em;
  height: auto;
  margin: auto;
}

ul {
  position: relative;
  width: 25em;
  margin: auto;
  list-style-type: none;
  padding: 1.5em;
}
