/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.logo {
  position: relative;
}

.container__section {
  display: none;
  padding: 1.25em;
}

#sectionMain {
  display: block;
}

.active-section {
  display: block;
}

#logout {
  display: none;
}

#stats {
  display: none;
}

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 1.5em 4em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background-color: none;
  border: solid 1px transparent;
  border-radius: 10px;
  margin-top: 0.75em;
  transition: all 0.2s ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.btn:hover,
.btn:hover a {
  transform: scale(1.2);
  color: var(--clr-blue);
  background-color: var(--clr-gray);
}

.container {
  padding: 2em;
}

.container__list {
  position: relative;
  width: 25em;
  margin: auto;
  list-style-type: none;
  padding: 1.5em;
}

.currentUser {
  display: none;
  letter-spacing: .2em;
  font-weight: 600;
  font-size: var(--size-xl);
  text-align: center;
}

.user {
  color: var(--clr-blue);
  text-shadow: 1px 1px 1px white, -1px 1px 1px white, -1px -1px 0 white,
    1px -1px 0 white;
}